{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/custom.css" rel="stylesheet">
{% endblock stylesheets %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script> <!--icons-->
<script type="text/javascript" src="/static/assets/custom.js"></script> <!--custom.js-->
{% endblock javascripts %}

{% block content %}

<!--EASY PIE CHARTS-->
<div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-12 pos-a"></div>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900">Gauges</h6>
            <div class="mT-30">
                <div class="peers mT-20 fxw-nw@lg+ jc-sb ta-c gap-10">
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="71%" data-bar-color="#f44336">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">Week Entry Streak</h6>
                    </div>
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="11" data-bar-color="#2196f3">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">Positive Streak</h6>
                    </div>
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="45" data-bar-color="#f44336">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">Polarity Score Avg</h6>
                    </div>
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="35" data-bar-color="#ff9800">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">Total Entries</h6>
                    </div>
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="50" data-bar-color="#2196f3">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">Something</h6>
                    </div>
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="50" data-bar-color="#2196f3">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">Else</h6>
                    </div>
                    <div class="peer">
                        <div class="easy-pie-chart" data-size="80" data-percent="50" data-bar-color="#2196f3">
                            <span></span>
                        </div>
                        <h6 class="fsz-sm">New Purchases</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--LINE CHARTS-->
<div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-12 pos-a"></div>
    <div data="{{date}}" id="data-date"></div>
    <div data="{{text_pol_score}}" id="data-text_pol_score"></div>
    <div data="{{audio_pol_score}}" id="data-audio_pol_score"></div>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900">Line Chart</h6>
            <div class="mT-30">
                <canvas id="line-chart-score" height="220"></canvas>
            </div>
        </div>
    </div>
</div>

<!--HEAT MAP-->
<!-- <div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-12 pos-a"></div>
    <div class="masonry-item col-md-12">
        <div class="bgc-white p-20 bd">
            <h4 class="c-grey-900">Heat Map</h6>
            <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src={{path}} height="525" width="100%"></iframe>
        </div>
    </div>
</div> -->

<!--TABLES-->
<div class="row gap-20 masonry pos-r">
    <div class="masonry-sizer col-md-12 pos-a"></div>
    <!--Positive Table-->
    <div class="masonry-item col-md-6">
        <!-- <h4 class="c-grey-900 mT-10 mB-30">Basic Tables</h4>
        <div class="row">
        <div class="col-md-12"> -->
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Positive Keywords</h4>
                <p>List of your keys that have a positive impact to your day</p>
                <!-- <p>Using the most basic table markup, here’s how <code class="highlighter-rouge">.table</code>-based tables look in Bootstrap. <strong>All table styles are inherited in Bootstrap 4</strong>, meaning any nested tables will be styled in the same manner as the parent.</p> -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Keyword</th>
                    <th scope="col">Count</th>
                    <th scope="col">Impact</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>exercised</td>
                    <td>17</td>
                    <td>11%</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>piano</td>
                    <td>11</td>
                    <td>7%</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>coding</td>
                    <td>9</td>
                    <td>6%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--Negative Table-->
    <div class="masonry-item col-md-6">
        <!-- <h4 class="c-grey-900 mT-10 mB-30">Basic Tables</h4>
        <div class="row">
        <div class="col-md-12"> -->
        <div class="bgc-white bd bdrs-3 p-20 mB-20">
            <h4 class="c-grey-900 mB-20">Negative Keywords</h4>
                <p>List of your keys that have a negative impact to your day</p>
                <!-- <p>Using the most basic table markup, here’s how <code class="highlighter-rouge">.table</code>-based tables look in Bootstrap. <strong>All table styles are inherited in Bootstrap 4</strong>, meaning any nested tables will be styled in the same manner as the parent.</p> -->
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Keyword</th>
                    <th scope="col">Count</th>
                    <th scope="col">Impact</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>traffic</td>
                    <td>9</td>
                    <td>21%</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>mattress</td>
                    <td>11</td>
                    <td>15%</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>rained</td>
                    <td>5</td>
                    <td>6%</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div>
            
{% endblock content %}
