{% extends "layouts/base.html" %}

{% block title %} Recorder {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/custom.css" rel="stylesheet">
{% endblock stylesheets %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/skycons/1396634940/skycons.min.js"></script> <!--icons-->
<script type="text/javascript" src="/static/assets/custom.js"></script> <!--custom.js-->
{% endblock javascripts %}

{% block content %}

<h1>Recorder</h1>

<!-- https://github.com/danijel3/audio_gui/blob/master/templates/index.html-->
<!-- updated 2020.12.05 -->
<div class="container">
    <canvas id="analyser" style="width:100%;height:300px;background-color: gray" width="1024" height="500"></canvas>
    <p>
        <button id="init" class="btn btn-info" onclick="unpause()">Start listening</button>
        <button id="start" class="btn btn-success" onclick="startRecording()" disabled>Start</button>
        <button id="stop" class="btn btn-danger" onclick="stopRecording()" disabled>Stop</button>
    </p>
    <textarea id="output" style="width: 100%;" rows="3" readonly></textarea>
</div>

<script src="static/js/audiodisplay.js"></script>
<script src="static/js/recorder.js"></script>
<script src="static/js/main.js"></script>

<!--trying to get button to do prediction-->
<div class="row">
    <div class="col-md-6">
        <div id="results">
            <h3 id='class-result'>Predictions:</h3>
                <div style="display:none;" id="spinner" class="loader">Loading...</div>
                <div id="results-prediction">
                    <p id="prediction"></p>
                    <p id="probs"></p>
                </div>
        </div>
    </div>
</div>

<!--
<form action="/checkin" method="post">
    <input type="text" name="student_name" id="">
    <button type="submit" class="btn btn-lg btn-primary">Check-in now</button>
</form>
-->


<!--code from VND Classifier home_page.html-->
<!--
<div class="row">
    <div class="col-md-6">
        <div id="my-camera"></div>
        <br>
        <form id="form-capture-image">
            <div id= "btn-capture-image" class="btn btn-lg btn-primary">Predict Now</div>
        </form>
    </div>
    <div class="col-md-6">
        <div id="results">
            <h3 id='class-result'>Predictions:</h3>

                <div id="results-prediction">
                    <p id="prediction"></p>
                    <p id="probs"></p>
                </div>
        </div>
    </div>
</div>
-->


{% endblock content %}

<!--removed code-->
<!--
<div class="jumbotron">
    <div class="container">
        <h1>
            <box-icon type='solid' name='music'></box-icon>
            Audio GUI
        </h1>
    </div>
</div>
-->