
      <!-- #Left Sidebar ==================== -->
      <div class="sidebar">
        <div class="sidebar-inner">
          <!-- ### $Sidebar Header ### -->
          <div class="sidebar-logo">
            <div class="peers ai-c fxw-nw">
              <div class="peer peer-greed">
                <a class="sidebar-link td-n" href="/">
                  <div class="peers ai-c fxw-nw">
                    <div class="peer">
                      <div class="logo">
                        <img src="/static/assets/static/images/logo.png" alt="">
                      </div>
                    </div>
                    <div class="peer peer-greed">
                      <h5 class="lh-1 mB-0 logo-text">Friday</h5>
                    </div>
                  </div>
                </a>
              </div>
              <div class="peer">
                <div class="mobile-toggle sidebar-toggle">
                  <a href="" class="td-n">
                    <i class="ti-arrow-circle-left"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- ### $Sidebar Menu ### -->
          <ul class="sidebar-menu scrollable pos-r">

            <!--Dashboard, main landing page-->
            <li class="nav-item mT-30 actived">
              <a class="sidebar-link" href="/">
                <span class="icon-holder">
                  <i class="c-blue-500 ti-home"></i>
                </span>
                <span class="title">Dashboard</span>
              </a>
            </li>
            
            <!--Audio recorder page-->
            <li class="nav-item dropdown">
              <a class="sidebar-link" href="/recorder.html">
                <span class="icon-holder">
                    <i class="c-red-500 ti-microphone-alt"></i>
                  </span>
                <span class="title">Recorder</span>
              </a>
            </li>
            
            <!--Calendar to show days with recordings-->
            <li class="nav-item">
              <a class="sidebar-link" href="/calendar.html">
                <span class="icon-holder">
                  <i class="c-deep-orange-500 ti-calendar"></i>
                </span>
                <span class="title">Calendar</span>
              </a>
            </li>

          </ul>
        </div>
      </div>



<!--------Removed items-------->

<!--results section-->
<!--
<li class="nav-item">
  <a class="sidebar-link" href="/results.html">
    <span class="icon-holder">
      <i class="c-deep-purple-500 ti-bar-chart"></i>
    </span>
    <span class="title">Results</span>
  </a>
</li>
-->

<!--Grid Section-->
<!--
<li class="nav-item dropdown">
  <a class="sidebar-link" href="/grid.html">
    <span class="icon-holder">
        <i class="c-pink-500 ti-layout-grid3"></i>
      </span>
    <span class="title">Grid</span>
  </a>
</li>
-->

<!--Maps Section-->
<!--
<li class="nav-item dropdown">
  <a class="dropdown-toggle" href="javascript:void(0);">
    <span class="icon-holder">
        <i class="c-purple-500 ti-map"></i>
      </span>
    <span class="title">Maps</span>
    <span class="arrow">
        <i class="ti-angle-right"></i>
      </span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="/google-maps.html">Google Map</a>
    </li>
    <li>
      <a href="/vector-maps.html">Vector Map</a>
    </li>
  </ul>
</li>
-->

<!--Maps Section-->
<!--
<li class="nav-item dropdown">
  <a class="dropdown-toggle" href="javascript:void(0);">
    <span class="icon-holder">
        <i class="c-red-500 ti-files"></i>
      </span>
    <span class="title">Pages</span>
    <span class="arrow">
        <i class="ti-angle-right"></i>
      </span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="sidebar-link" href="/page-blank.html">Blank</a>
    </li>                 
    <li>
      <a class="sidebar-link" href="/page-404.html">404</a>
    </li>
    <li>
      <a class="sidebar-link" href="/page-500.html">500</a>
    </li>
  </ul>
</li>
-->

<!--Database section-->
<!--
<li class="nav-item dropdown">
  <a class="dropdown-toggle" href="javascript:void(0);">
    <span class="icon-holder">
      <i class="c-orange-500 ti-layout-list-thumb"></i>
    </span>
    <span class="title">Datatables</span>
    <span class="arrow">
      <i class="ti-angle-right"></i>
    </span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="sidebar-link" href="/basic-table.html">Basic Table</a>
    </li>
    <li>
      <a class="sidebar-link" href="/datatables.html">Data Table</a>
    </li>
  </ul>
</li>
-->


<!--Multiple Levels section-->
<!--
<li class="nav-item dropdown">
  <a class="dropdown-toggle" href="javascript:void(0);">
    <span class="icon-holder">
      <i class="c-teal-500 ti-view-list-alt"></i>
    </span>
    <span class="title">Multiple Levels</span>
    <span class="arrow">
      <i class="ti-angle-right"></i>
    </span>
  </a>
  <ul class="dropdown-menu">
    <li class="nav-item dropdown">
      <a href="javascript:void(0);">
        <span>Menu Item</span>
      </a>
    </li>
    <li class="nav-item dropdown">
      <a href="javascript:void(0);">
        <span>Menu Item</span>
        <span class="arrow">
          <i class="ti-angle-right"></i>
        </span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0);">Menu Item</a>
        </li>
        <li>
          <a href="javascript:void(0);">Menu Item</a>
        </li>
      </ul>
    </li>
  </ul>
</li>
-->

<!--Logout-->
<!--
<li class="nav-item dropdown">
  <a class="sidebar-link" href="{{ url_for('base_blueprint.logout') }}" >
    <span class="icon-holder">
        <i class="ti-power-off mR-10"></i>
      </span>
    <span class="title">Logout</span>
  </a>
</li>
-->